root = true

[*.{kt,kts}]
insert_final_newline = true
ktlint_code_style = intellij_idea
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_max-line-length = 140
# Compose @Composable uses PascalCase like Google samples
ktlint_function_naming_ignore_when_annotated_with = Composable, Preview
