.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/
local.properties
*.iml
.idea/
.DS_Store
captures/
*.log
xcuserdata/
DerivedData/
*.xcworkspace
Pods/
**/*.xcuserstate
.kotlin/
reports/
ThoughtsLogging/
old_impl/
local-scripts/
